<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>{{title}}</h1>
        <button id="loadProjects">Lade Projekte</button>
        <div class="projects">
        </div>
    </body>
</html>
